* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
a {
    color: currentColor;
}
body {
    overflow: hidden;
    background-color: #000000ec;
}
.card {
    
    opacity: .8;
    margin: auto;
    height: 400px;
    max-width: 350px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
    position: relative;
    background: #494949;
    transform: translate(0%, 50%);
    box-shadow: 5px 5px 20px 2px #494949a9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.size {
    color: white;
}
.size span {
    padding: 4px;
    color: black;
    margin: 0px 2px;
    font-size: 14px;
    border-radius: 2px;
    background-color: white;
}
.color {
    color: white;
    margin: 15px 0px 20px 0px;
}
.color span {
    margin: 0px 2px;
}
.red {
    padding: 1px 10px;
    border-radius: 50%;
    background-color: red;
}
.green {
    padding: 1px 10px;
    border-radius: 50%;
    background-color: green;
}
.blue {
    padding: 1px 10px;
    border-radius: 50%;
    background-color: blue;
}
.info .buy {
    color: black;
    font-weight: 900;
    border-radius: 20px;
    background-color: white;
    padding: 9px 18px 10px 18px;
}
.card .shoe-name {
    top: 70%;
    left: 30%;
    color: white;
    font-size: 24px;
    position: absolute;
    transition: all .5s ease;
    text-transform: capitalize;
    /* display: none; */
}
.card img {
    top: 15%;
    left: 25px;
    width: 300px;
    position: absolute;
    transition: all .5s ease;
}
.card:hover img {
    /* transition: all .5s ease; */
    /* zoom: 1.5; */
    width: 450px;
    top: -30%;
    left: -20%;
    transform: rotateZ(-20deg);
}
.card:hover .shoe-name {
    top: 53%;
}
.card .info {
    opacity: 0;
    top: 75%;
    left: 25%;
    position: absolute;
    cursor: pointer;
    transition: all .5s ease;
}
.card:hover .info {
    top: 64%;
    opacity: 1;
}